[submodule "puppetmaster/modules/augeas"]
	path = puppetmaster/modules/augeas
	url = http://github.com/camptocamp/puppet-augeas.git
[submodule "puppetmaster/modules/apt"]
	path = puppetmaster/modules/apt
	url = http://github.com/puppetlabs/puppetlabs-apt.git
[submodule "puppetmaster/modules/openssl"]
	path = puppetmaster/modules/openssl
	url = http://github.com/camptocamp/puppet-openssl.git
[submodule "puppetmaster/modules/postfix"]
	path = puppetmaster/modules/postfix
	url = http://github.com/camptocamp/puppet-postfix.git
[submodule "puppetmaster/modules/sysctl"]
	path = puppetmaster/modules/sysctl
	url = http://github.com/duritong/puppet-sysctl.git
[submodule "puppetmaster/modules/reprepro"]
	path = puppetmaster/modules/reprepro
	url = http://github.com/camptocamp/puppet-reprepro.git
[submodule "puppetmaster/modules/iptables"]
	path = puppetmaster/modules/iptables
	url = http://github.com/kbarber/puppet-iptables.git
[submodule "puppetmaster/modules/sudo"]
	path = puppetmaster/modules/sudo
	url = http://github.com/bodepd/puppet-sudo.git
[submodule "puppetmaster/modules/rabbitmq"]
	path = puppetmaster/modules/rabbitmq
	url = http://github.com/puppetlabs/puppetlabs-rabbitmq.git
[submodule "puppetmaster/modules/vcsrepo"]
	path = puppetmaster/modules/vcsrepo
	url = http://github.com/puppetlabs/puppetlabs-vcsrepo.git
[submodule "puppetmaster/modules/lvm"]
	path = puppetmaster/modules/lvm
	url = http://github.com/puppetlabs/puppetlabs-lvm.git
[submodule "puppetmaster/modules/stdlib"]
	path = puppetmaster/modules/stdlib
	url = http://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "puppetmaster/modules/puppetdbquery"]
	path = puppetmaster/modules/puppetdbquery
	url = http://github.com/dalen/puppet-puppetdbquery.git
[submodule "puppetmaster/modules/concat"]
	path = puppetmaster/modules/concat
	url = http://github.com/ripienaar/puppet-concat.git
[submodule "puppetmaster/modules/lldp"]
	path = puppetmaster/modules/lldp
	url = http://github.com/mfournier/puppet-lldp.git
[submodule "puppetmaster/modules/varnish"]
	path = puppetmaster/modules/varnish
	url = http://github.com/camptocamp/puppet-varnish.git
[submodule "puppetmaster/modules/apache"]
	path = puppetmaster/modules/apache
	url = http://github.com/camptocamp/puppet-apache.git
[submodule "puppetmaster/modules/postgresql"]
	path = puppetmaster/modules/postgresql
	url = http://github.com/puppetlabs/puppet-postgresql.git
[submodule "puppetmaster/modules/postgis"]
	path = puppetmaster/modules/postgis
	url = http://github.com/camptocamp/puppet-postgis.git
[submodule "puppetmaster/modules/mapserver"]
	path = puppetmaster/modules/mapserver
	url = http://github.com/camptocamp/puppet-mapserver.git
[submodule "puppetmaster/modules/collectd"]
	path = puppetmaster/modules/collectd
	url = http://github.com/mfournier/puppet-collectd.git
[submodule "puppetmaster/modules/python"]
	path = puppetmaster/modules/python
	url = http://github.com/stankevich/puppet-python.git
[submodule "puppetmaster/modules/ruby"]
	path = puppetmaster/modules/ruby
	url = http://github.com/camptocamp/puppet-ruby.git
[submodule "puppetmaster/modules/php"]
	path = puppetmaster/modules/php
	url = http://github.com/camptocamp/puppet-php.git
[submodule "puppetmaster/modules/buildenv"]
	path = puppetmaster/modules/buildenv
	url = http://github.com/camptocamp/puppet-buildenv.git
[submodule "puppetmaster/modules/kmod"]
	path = puppetmaster/modules/kmod
	url = http://github.com/camptocamp/puppet-kmod.git
[submodule "puppetmaster/modules/memcached"]
	path = puppetmaster/modules/memcached
	url = git://github.com/saz/puppet-memcached.git
[submodule "puppetmaster/modules/runit"]
	path = puppetmaster/modules/runit
	url = http://github.com/mstrauss/puppet-runit.git
[submodule "puppetmaster/modules/uwsgi"]
	path = puppetmaster/modules/uwsgi
	url = http://github.com/mfournier/puppet-uwsgi.git
[submodule "puppetmaster/modules/riemann_report"]
	path = puppetmaster/modules/riemann_report
	url = git://github.com/jamtur01/puppet-riemann.git
[submodule "puppetmaster/site-modules/haproxy/files/collectd-haproxy"]
	path = puppetmaster/site-modules/haproxy/files/collectd-haproxy
	url = https://github.com/mfournier/collectd-haproxy.git
