[submodule "puppetmaster/modules/augeas"]
	path = puppetmaster/modules/augeas
	url = https://github.com/camptocamp/puppet-augeas
[submodule "puppetmaster/modules/apt"]
	path = puppetmaster/modules/apt
	url = https://github.com/puppetlabs/puppetlabs-apt
[submodule "puppetmaster/modules/openssl"]
	path = puppetmaster/modules/openssl
	url = https://github.com/camptocamp/puppet-openssl
[submodule "puppetmaster/modules/postfix"]
	path = puppetmaster/modules/postfix
	url = https://github.com/camptocamp/puppet-postfix
[submodule "puppetmaster/modules/sysctl"]
	path = puppetmaster/modules/sysctl
	url = https://github.com/duritong/puppet-sysctl
[submodule "puppetmaster/modules/reprepro"]
	path = puppetmaster/modules/reprepro
	url = https://github.com/camptocamp/puppet-reprepro
[submodule "puppetmaster/modules/sudo"]
	path = puppetmaster/modules/sudo
	url = https://github.com/puppetlabs/puppetlabs-sudo
[submodule "puppetmaster/modules/rabbitmq"]
	path = puppetmaster/modules/rabbitmq
	url = https://github.com/puppetlabs/puppetlabs-rabbitmq
[submodule "puppetmaster/modules/vcsrepo"]
	path = puppetmaster/modules/vcsrepo
	url = https://github.com/puppetlabs/puppetlabs-vcsrepo
[submodule "puppetmaster/modules/lvm"]
	path = puppetmaster/modules/lvm
	url = https://github.com/puppetlabs/puppetlabs-lvm
[submodule "puppetmaster/modules/stdlib"]
	path = puppetmaster/modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib
[submodule "puppetmaster/modules/puppetdbquery"]
	path = puppetmaster/modules/puppetdbquery
	url = https://github.com/dalen/puppet-puppetdbquery
[submodule "puppetmaster/modules/concat"]
	path = puppetmaster/modules/concat
	url = https://github.com/puppetlabs/puppetlabs-concat
[submodule "puppetmaster/modules/lldp"]
	path = puppetmaster/modules/lldp
	url = https://github.com/mfournier/puppet-lldp
[submodule "puppetmaster/modules/varnish"]
	path = puppetmaster/modules/varnish
	url = https://github.com/camptocamp/puppet-varnish
[submodule "puppetmaster/modules/postgresql"]
	path = puppetmaster/modules/postgresql
	url = https://github.com/puppetlabs/puppet-postgresql
[submodule "puppetmaster/modules/postgis"]
	path = puppetmaster/modules/postgis
	url = https://github.com/camptocamp/puppet-postgis
[submodule "puppetmaster/modules/mapserver"]
	path = puppetmaster/modules/mapserver
	url = https://github.com/camptocamp/puppet-mapserver
[submodule "puppetmaster/modules/collectd"]
	path = puppetmaster/modules/collectd
	url = https://github.com/mfournier/puppet-collectd
[submodule "puppetmaster/modules/python"]
	path = puppetmaster/modules/python
	url = https://github.com/stankevich/puppet-python
[submodule "puppetmaster/modules/ruby"]
	path = puppetmaster/modules/ruby
	url = https://github.com/camptocamp/puppet-ruby
[submodule "puppetmaster/modules/php"]
	path = puppetmaster/modules/php
	url = https://github.com/camptocamp/puppet-php
[submodule "puppetmaster/modules/buildenv"]
	path = puppetmaster/modules/buildenv
	url = https://github.com/camptocamp/puppet-buildenv
[submodule "puppetmaster/modules/kmod"]
	path = puppetmaster/modules/kmod
	url = https://github.com/camptocamp/puppet-kmod
[submodule "puppetmaster/modules/memcached"]
	path = puppetmaster/modules/memcached
	url = git://github.com/saz/puppet-memcached
[submodule "puppetmaster/modules/runit"]
	path = puppetmaster/modules/runit
	url = https://github.com/mstrauss/puppet-runit
[submodule "puppetmaster/modules/uwsgi"]
	path = puppetmaster/modules/uwsgi
	url = https://github.com/bkuberek/puppet-uwsgi
[submodule "puppetmaster/modules/riemann_report"]
	path = puppetmaster/modules/riemann_report
	url = https://github.com/jamtur01/puppet-riemann
[submodule "puppetmaster/site-modules/haproxy/files/collectd-haproxy"]
	path = puppetmaster/site-modules/haproxy/files/collectd-haproxy
	url = https://github.com/mfournier/collectd-haproxy
[submodule "puppetmaster/modules/firewall"]
	path = puppetmaster/modules/firewall
	url = https://github.com/puppetlabs/puppetlabs-firewall.git
